attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
greenlet
idna
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mysql-connector-python
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
python-dateutil
python-dotenv
pytz
referencing
requests
rich
rpds-py
six
smmap
SQLAlchemy
streamlit
streamlit-aggrid
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog